frr defaults traditional
hostname {{.Name}}
service integrated-vtysh-config
!
interface lo
{{- range .IPv4Loopbacks }}
 ip address {{.}}
{{- end }}
{{- if .Protocols.ospf }}
 ip ospf area 0
 ip ospf passive
{{- end }}
{{- range .IPv6Loopbacks }}
 ipv6 address {{.}}
{{- end }}
{{- if .Protocols.ospf6 }}
 ipv6 ospf6 area 0
 ipv6 ospf6 passive
{{- end }}
exit
!
{{- range .Interfaces }}
interface {{.Name}}
{{- if .IPv4Addr }}
 ip address {{.IPv4Addr}}
{{- end }}
{{- if $.Protocols.ospf }}
 ip ospf area 0
 ip ospf network point-to-point
{{- end }}
{{- if .IPv6Addr }}
 ipv6 address {{.IPv6Addr}}
{{- end }}
{{- if $.Protocols.ospf6 }}
 ipv6 ospf6 area 0
 ipv6 ospf6 network point-to-point
{{- end }}
exit
!
{{- end }}
{{- if .Protocols.ospf }}
router ospf
exit
!
{{- end }}
{{- if .Protocols.ospf6 }}
router ospf6
exit
!
{{- end }}
